<p id="comment-<%= comment._id %>">

    <% if(locals.user.id == comment.user.id) { %> 
        <small id="comment-delete-btn">
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>" style="text-decoration: none;">
                <img src="/images/circle-minus-solid.svg" alt="delete"> 
            </a>
        </small>
    <% } %>

    <small>
        <strong><%= comment.user.name %>:</strong> <%= comment.content %>
    </small>
    <small>
        <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
            <i class="fas fa-solid fa-heart"></i> <%= comment.likes.length %>
        </a>
    </small>
</p>