<script src="https://kit.fontawesome.com/d817911436.js" crossorigin="anonymous"></script>
<li id="post-<%= post._id %>">

    <% if(locals.user.id==post.user.id) { %>
        <small id="post-delete-btn">
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>" style="text-decoration: none;">
                <img src="/images/circle-minus-solid.svg" alt="delete">
            </a>
        </small>
    <% } %>

    
    <small>
        <strong><%= post.user.name %></strong>
    </small>
    <p></p>
    <%= post.content %>
    <p></p>
    <small>
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
            <i class="fas fa-solid fa-heart"></i> <%= post.likes.length %>
        </a>
    </small>
    <p></p>
    <div class="post-comments">
        <% if(locals.user) { %>

            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type Here to add comment... " required
                    style="border-radius: 10px; height: 30px; width: 77%; outline: none; border: none; background-color: honeydew;">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment" class="comment-btn">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments) { %>

                    <%- include('_comment') -%>

                <% } %>

            </ul>
        </div>

    </div>
    
</li>