<li>
                            
    <% if(locals.user.id == post.user.id) { %> 
        <small id="post-delete-btn">
            <a href="/posts/destroy/<%= post.id %>" style="text-decoration: none;">
                <img src="/images/circle-minus-solid.svg" alt="delete">
            </a>
        </small>
    <% } %>

    <%= post.content %>
    <br>
    <small>
        <%= post.user.name %>
    </small>
    <p></p>
    <div class="post-comments">
        <% if(locals.user) { %> 
            <form action="comments/create" method="post">
                <input type="text" name="content" placeholder="Type Here to add comment... " required
                       style="width: 77%; outline: none; border: none; background-color: honeydew;">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment" class="comment-btn">
            </form>
        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments) { %>

                    <%- include('_comment') -%>

                <% } %>
            </ul>
        </div>
    </div>
</li>