<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <title>Document</title> -->
    <script src="https://kit.fontawesome.com/d817911436.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo_2.png">
    <link rel="stylesheet" href="/css/feed-posts.css">
</head>

<body>

    <% if (locals.user){ %>
        <!-- <h2 style="padding-left: 20px; padding-top: 4%; position: fixed;">
            Home
        </h2> -->


        <div id="home-container">

            <section id="users">
                <h3>Users</h3>
                <% for(u of all_users) { %>
                    <p style="display: flex;">
                        <%if(u.avatar){%>
                            <img src="<%=u.avatar%>" alt="image" width="30">
                            <%}else{%>
                                <i class="fas fa-user-circle" style="font-size: 1.8rem;"></i>
                            <%}%>
                        <a href="/users/profile/<%= u.id %>" style="padding-top: 5px;"><%= u.name %></a>
                    </p>
                <% } %>
                <!-- <form class="search" onsubmit="return false;">
                    <input type="text" placeholder="Search.." name="search">
                    <button data-ripple type="button" onclick="onSearch(this);"><i class="fa fa-search"></i></button>
                </form> -->
            </section>

            <section id="feed-posts">
                <form action="/posts/create" id="new-post-form" method="post" class="card">
                    <textarea name="content" cols="50" rows="6" placeholder="Type Here..." required
                        style="border-radius: 10px; width: 92%; margin-top: 20px; outline: none; border: none; background-color: honeydew;"></textarea>
                    <br> <br>
                    <input type="submit" value="Post" class="btn">
                </form>

                <div id="posts-list-container" style="margin-right: 5%; margin-left: -5%;">
                    <ul style="list-style: none;">
                        <% for(post of posts) { %>

                            <%- include('_post') -%>

                        <% } %>
                    </ul>
                </div>
            </section>


            <section id="user-friends">
                <h3>Friends</h3>
                <% if(locals.user.friendship.length == 0) { %>
                    No Friends to Show.!
                <% } else { %>
                    <%for(friends of all_friends.friendship){%>
                        <p style="display: flex;">
                            <%if(friends.avatar){%>
                                <img src="<%=friends.avatar%>" alt="image" width="30">
                              <%}else{%>
                                  <i class="fas fa-user-circle" style="font-size: 1.8rem;"></i>
                               <%}%>
                              <a href="/users/profile/<%=friends._id%>" style="padding-top: 5px;"><%=friends.name%></a>
                        </p>
                    <%}%>
                <% } %>

                <%- include('_chat_box') -%>

            </section>
        </div>

        <!-- importing this script for creating the comments -->
        <script src="/js/home_post_comments.js" ></script>
        <script src="/js/home_posts.js"></script>

        <!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
        <script src="js/toggle_likes.js"></script>
        <script>
            $('.toggle-like-button').each(function(){
                let self = this;
                let toggleLike = new ToggleLike(self);
            });
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
        <script src="/js/chat_engine.js"></script>
        <script>
            new ChatEngine('user-chat-box', '<%= locals.user.email %>')
        </script>


        <% }else{ %>
            <img src="/images/bck2.png" style="
                width: 100%;
                align-items : center;
                height: 100%; 
                background-position: center center; background-size: cover;
                margin-top: 50px;" alt="img">
            <% } %>

</body>

</html>